

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }


  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
 .topo img, .final img{
    width: 100%;

 } 
  body{
    display: flex;
    flex-direction: column;

  }
.rocket{
    margin-right:800px;

}
.container{
    display: flex;
    justify-content: space-between;
}
.countDown{
    display: flex;
    flex-direction: column;
    margin-left:200px;
    padding: 20px;
    align-items: center;

    
    
}
.countDown h1{
    font-size: 50px;
    color:var(--purple);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}  

.countDown p{
    font-size: 14px;
    color:var(--text-color);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
}
.countDown strong{
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    color:var(--black);
    margin-top:8px;
    padding:20px;
}
.countDown button{
    background-color:var(--purple);
    padding: 15px 60px;
    border-radius: 15px;
    border:0;
    color:white;
    font-family: 'Poppins', sans-serif;
}

.countDown .count{
    display: flex;
    padding: 30px;

}
.count span{
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    color:var(--light-grey);
}